#set($subject = "$device.name: Commande recue par le vehicule")
<!DOCTYPE html>
<html>
<body>
Vehicule : $device.name<br>
Resultat: $position.getString("result")<br>
Date et heure : $dateTool.format("YYYY-MM-dd HH:mm:ss", $event.eventTime, $locale, $timezone)<br>
Lien : <a href="$webUrl?eventId=$event.id">$webUrl?eventId=$event.id</a><br>
<br>
<a href="$webUrl/settings/notifications?token=$token">Unsubscribe</a>
</body>
</html>
